In [25]:
#Primera Parte:
#Definicion de Funciones
def Saludo(Saludo,Frase):
    A = Saludo + '!'*3 + Frase + '.'*3
    return A

In [26]:
#Utilizando la Funcion que creamos
Saludo('Hola','多Como estas?')

'Hola!!!多Como estas?...'

In [27]:
#Funcion con Multiples Parametros
def Saludo(Saludo,Frase):
    A = Saludo + '!'*3
    B = Frase + '.'*3
    Junto = (A,B)
    return Junto

In [28]:
#Asignacion de Multiples Valores
A , B = Saludo('Hola','多Como estas?')

In [29]:
print(A)
B

Hola!!!

'多Como estas?...'

In [57]:
#Realizemos una funcion un poco mas compleja.
#Antes de comenzar iremos por partes
#1.Importe de datos
import pandas as pd
df = pd.read_csv('mtcars.csv')
df.head()

,Carro,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [54]:
#2.Seleccion de datos
col = df['cyl']
conteo = {}
col.head(4)

0    6
1    6
2    4
3    6
Name: cyl, dtype: int64

In [39]:
#3.Proceso de Conteo, for que cuenta los grupos de cyl
for x in col:
    if x in conteo.keys():
        conteo[x] += 1
    else:
        conteo[x] = 1
#Resultado de Conteo
print(conteo)

{6: 14, 4: 22, 8: 28}

In [66]:
#Funcion de Conteo generalizada.
#Uniendo 2 y 3
def Conteo(df, col_name):
    conteo = {}
    col = df[col_name]
    for x in col:
        if x in conteo.keys():
            conteo[x] += 1
        else:
            conteo[x] = 1
            
    return(conteo)

In [75]:
#Uso de la funcion Generalizada
print(df.keys())
print(Conteo(df,'am'))
print(Conteo(df,'cyl'))

Index(['Carro', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')
{1: 13, 0: 19}
{6: 7, 4: 11, 8: 14}

In [ ]:
#Segunda Parte:
#Argumentos predeterminados, argumentos de longitud variable y alcance